// Import Bulma's core
// @import "~bulma/sass/utilities/_all";

// Set font-family
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Helvetica Neue", "Arial", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "Yu Gothic Medium", Meiryo, sans-serif;
// Set your colors
$gold: #907910;
$my-light-yellow: hsl(52, 33%, 95%);
// $background: #F7F6EF;
// $background: hsl(52, 33%, 95%);

$gold-light: bulmaLighten($gold, 10%);

$primary: $gold;
$link: $gold;
$scheme-main: hsl(0, 0%, 96%);
// $scheme-main: $my-light-yellow;
// $navbar-height: 3rem;
// $navbar-item-img-max-height: 2.75rem;
// $footer-background-color: $gold;
// $max-width: 1120px;

$section-padding: 3rem 0;
$content-padding: 0.75rem;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


// body {
//   background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
//   background-image: linear-gradient(to left, #dfe9f3 0%, white 100%);
//   background-image: linear-gradient(to left, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
// }

footer.footer {
  background-image: linear-gradient(to bottom, #fcf9ec, #e1d8b5, #c6b880, #ab984c, #907910);
  // background-image: linear-gradient(to right bottom, #fcf9ec, #e8e0c3, #d3c89a, #bfb073, #ab984c, #ab984c, #ab984c, #ab984c, #bfb073, #d3c89a, #e8e0c3, #fcf9ec);
}
.section {
  max-width: 1120px;
  margin: 0 auto;
  overflow: hidden;
  .layout > & {
    @include tablet {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    };
  }
}  
.content {
  // article {
  //   padding: 0.75rem;
  // }
  p {
    padding: 0 $content-padding;
  }
  h1 {
    // text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    // color: #333;
    // text-shadow: 0 20px 10px rgba(0, 0, 0, .5);
    // background-color: #9d9da4;
    // background-color: $gold;
    background-image: linear-gradient(to right, $gold 0%, $scheme-main 100%);
    // color: #aaa;
    color: #bbb;
    // color: $gold;
    text-shadow: 0 -1px 1px #fff, 1px 1px 1px #000;
    // text-shadow: 0 -1px #fff,0 -2px #fff, 0 8px 15px rgba(144,121,16,0.7);
    // text-shadow: 0 -1px #fff,0 -2px #fff, 0 8px 15px rgba(0,0,0,0.7);
  }
  h2 {
    padding-left: $content-padding;
    padding-right: $content-padding;
    margin: 0 auto 4rem;
    font-size: 2em;
    & span {
      display: block;
      margin: 0 auto;
      position: relative;
      color: $gold;
      text-align: center;
      padding: 0.5rem;
      @include desktop {
        max-width: 70%;
      };
      &::before {
        position: absolute;
        content: '';
        bottom: -10px;
        left: 0;
        width: 0;
        height: 0;
        border: none;
        border-left: solid 15px transparent;
        border-bottom: solid 15px $gold;
      }
      &::after {
        position: absolute;
        content: '';
        bottom: -10px;
        left: 10px;
        width: 100%;
        border-bottom: solid 3px $gold;
      }
    }
  }
  h3 {
    padding-left: $content-padding;
    padding-right: $content-padding;
    // text-align: center;
    margin: 2rem 0;
  }
  img.is-shadow {
    @include tablet {
      box-shadow: 2px 2px 2px 2px lightgray;
    };
  }
  // .column.article {
  //   padding-top: 0 $content-padding;
  // }
 .column img{
    display: block;
    margin: 0 auto;
  }
}

#banner img {
  height: 50vh;
  @include tablet {
    height: calc(100vh - 3.25rem);
  };
}
#banner h1 {
  top: 40%;
  left: 10%;
  margin: 0;
  font-size: 2rem;
  line-height: 1.4;
  color: #fff;
  z-index: 1;
  text-shadow: 0px 0px 5px rgb(0 0 0 / 50%), 0px 0px 10px rgb(0 0 0 / 50%), 0px 0px 5px rgb(0 0 0 / 50%);
}

.button_arrow span {
  display: block;
  position: relative;
  padding-right: 2rem;
}
.button_arrow span::before {
  position:absolute;
  content: '';
  top: 1rem;
  right: 0;
  width: 1.5rem;
  height: 0.12rem;
  background: #fff;
}
.button_arrow span::after {
  position:absolute;
  content: '';
  top: 0.68rem;
  right: 0.15rem;
  width: 0.7rem;
  height: 0.7rem;
  border-top: 0.15rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
